@import "tailwindcss";

:root {
  --background: 40 33% 98%;
  /* #FDFBF7 */
  --foreground: 20 10% 29%;
  /* #4A4A4A */

  --card: 0 0% 100%;
  --card-foreground: 20 10% 29%;

  --popover: 0 0% 100%;
  --popover-foreground: 20 10% 29%;

  --primary: 14 100% 71%;
  /* #FF8C69 */
  --primary-foreground: 0 0% 100%;

  --secondary: 217 100% 81%;
  /* #A0C4FF */
  --secondary-foreground: 222 47% 11%;

  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;

  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;

  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --ring: 14 100% 71%;

  --radius: 0.75rem;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

* {
  border-color: hsl(var(--border));
}